body {
    background-color: rgba(220, 220, 220, 0.742);
}

a {
    text-decoration: none;
}

.head_main {
    background-color: green;
}

.logo {
    width: 42px;
    height: 42px;
    border-radius: 14.5px;
}

.menu_link {
    font-size: 22.5px;
    color: white;
}

.sub_menu {
    background-color: green;
}

.sub_link {
    color: white;
}

.sub_link:hover {
    color: green;
}

.nav_icon {
    color: white;
    border: green;
}

.menu_item {
    color: white;
}

.menu_item:hover {
    color: white;
}

.menu_icon {
    order: 1;
}

@media(max-width:991px) {
    .menu_icon {
        order: 0;
    }
}

.menu_link:hover {
    color: white;
    text-decoration: underline;
}

.anh_bia {
    width: 100%;
}

.ndung_item_s {
    background-color: #D9D9D9;
}

.ndung_item_title {
    color: rgba(0, 0, 0, 0.479);
}

.tkiem_item {
    height: 210px;
}

.btn-close {
    position: absolute;
    right: 0;
    padding: 12px;
}

.btn_login {
    background-color: green;
    border-radius: 0;
    color: white;
    width: 180px;
    height: 54px;
}

.btn_login:hover {
    background-color: green;
    color: white;
}

.title_main {
    background-color: green;
    border-left: 12px solid darkgreen;
}

.title {
    color: white;
    padding: 10px;
    font-size: 22px;
}

.title_main_smxb {
    padding: 7.5px;
}

.title_smxb {
    font-size: 50px;
    /* text-decoration: underline green 7.5px; */
    font-weight: 600;
}

.title_main_sbc {
    padding: 7.5px;
}

.title_sbc {
    font-size: 50px;
    /* text-decoration: underline green 7.5px; */
    font-weight: 600;
}

.title_main_vhvn {
    padding: 7.5px;
}

.title_vhvn {
    font-size: 50px;
    /* text-decoration: underline green 7.5px; */
    font-weight: 600;
}

.title_main_vhnn {
    padding: 7.5px;
}

.title_vhnn {
    font-size: 50px;
    /* text-decoration: underline green 7.5px; */
    font-weight: 600;
}

.post {
    width: 230px;
    position: relative;
    border-radius: 0;
    overflow: clip;
}

.post_img {
    width: 230px;
    height: auto;
    aspect-ratio: 2/3;
    border-radius: 0;
}

.post_btn {
    background-color: red;
    color: white;
    width: 200px;
}

.post_btn:hover {
    background-color: red;
    color: white;
}

.bton_1 {
    background-color: green;
    color: white;
    width: 180px;
    height: 54px;
}

.bton_1:hover {
    background-color: green;
    color: white;
}

.bton_1_link {
    color: white;
    text-decoration: none;
}

.overflay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    height: 0;
    transition: 0.7s ease;
}

.pa_item_link {
    background-color: white;
    color: green;
}

.pa_item_link:hover {
    background-color: green;
    color: white;
}

.pa_item_link_1 {
    background-color: green;
    color: white;
}

.pa_item_link_1:hover {
    background-color: green;
    color: white;
}

.post:hover .overflay {
    height: 22%;
}

.footer_main {
    background-color: black;
    height: 245px;
}