/* @media screen and (max-width:1338px) {
    .logo {
        width: 50px;
        height: 50px;
    }
    .warp-tobar {
        display: none;
    }
    .warp-menu {
        display: none;
    }
    .title-mains {
        display: none;
    }
    .list-tag {
        display: none;
    }
    .mobile-warp-btn,
    #warp-mobile {
        display: block;
    }
    .tittle-1 {
        display: none;
    }
} */